<!DOCTYPE HTML>
<html>
<head>
	<title> Sudeep Juvekar's Blog</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/sudeep_blog_display.css">
	<link rel="shortcut icon" href="public/images/sudeep.jpg">
</head>
<body>
	<div class="sudeep-blog-login"><a href="/login">login</a></div>
	<!-- Gravatar image -->
	<img src="http://www.gravatar.com/avatar/1cd45d5f04e20582a5a0892dc7b8b227?s=100" class="sudeep-blog-photo" />
	<!-- end Gravatar image -->
	 <h1>Sudeep's Blog</h1>
	 <h3>Disorganized Thoughts in Organized Manner</h3>
	 <div class="sudeep-blog-anchor">
		<a href="/blog/newpost">Create a new post&gt;&gt;</a> &nbsp; |
		&nbsp; <a href="/blog/map">Blog Map&gt;&gt;</a>
	</div>
 	  <% for(var i = 0; i < blog_entries.length; i++) { %>
	  <div class="sudeep-blog-display">
		 <div class="sudeep-blog-display-subject">
			<h2><a href="/blog/<%= blog_entries[i].id %>"><%= blog_entries[i].subject %></a></h2>
			<span class="sudeep-blog-display-date"><%= blog_entries[i].created_at %></span>
			<!-- Tweet button -->
			<span class="sudeep-blog-display-date">
			</span>
			<!-- end Twitter button -->
			<!-- tumblr button -->
			<span class="sudeep-blog-display-date">
			</span>
			<!-- end of tumblr button -->
		</div>
		<hr>
		<div class="sudeep-blog-display-body">
			<pre><%- blog_entries[i].body %></pre>
		</div>
	    </div>
	  <% } %>
	<div style="text-align:center; margin-bottom: 100px;">
	 Page:
	 <% for(var i = 0; i < num_pages; i++) { %>
		<span class="sudeep-blog-anchor"><a href="/<%= i %>"><%= i %></a></span> | 
	 <% } %>
	</div>
</body>
</html>